# Eclipse
.classpath
.project
.settings/
 
# Intellij and Rider
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# dotnet
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/